@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "JetBrains Mono", monospace, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
}
.popup-container {
  padding: 20px;

  width: 500px;
  display: flex;
  flex-direction: column;

  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 10px;
  overflow-y: auto;
}

.popup-header {
  font-weight: bold;
  font-size: 1.8em;
  color: #59abdb;
  margin-bottom: 0.128em;
}
.deadlines-header {
  display: flex;

  width: 100%;
  flex-direction: row;
  font-size: 1.2em;
  color: #59abdb;
  font-weight: bold;
  margin-bottom: 0.618em;
}
.deadlines-container {
  display: flex;
  flex-direction: column;
  padding: 0.8em;
  gap: 0.5em;
  background-color: #227aff;
  border-radius: 10px;
  margin-bottom: 1em;
}
.deadline-item {
  color: #ebf6f5;
  display: flex;
  flex-direction: column;
  .deadline-item-name {
    font-weight: bold;
  }
  span {
    .deadline-item-status {
      color: #c2a77e;
    }
    .deadline-item-status-late {
      color: #ff0000;
    }
    .deadline-item-status-submitted {
      color: #00ff00;
    }
  }
  .deadline-item-divider {
    display: flex;
    justify-content: center;
    width: 100%;
    div {
      position: relative;
      border-bottom: 1px solid #ebf6f5;
      width: 80%;
    }
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }
}
/* NEWS STUFFS */
.news-header {
  display: flex;

  width: 100%;
  flex-direction: row;
  font-size: 1.2em;
  color: #59abdb;
  font-weight: bold;
  margin-bottom: 0.618em;
}
.news-options {
  display: flex;

  width: 100%;
  flex-direction: row;
  font-size: 1.2em;
  color: #59abdb;
  font-weight: bold;
  margin-bottom: 0.618em;
  .news-source-select {
    margin-right: 0.5em;
    width: 40%;
    select {
      width: 100%;
      border-radius: 1px;
      border: 1px solid #ccc;
    }
  }
  .news-source-type-select {
    margin-right: 0.5em;
  }
  .refresh-icon {
    cursor: pointer;
  }
}
.news-container {
  display: flex;
  flex-direction: column;
  padding: 0.8em;
  gap: 0.5em;
  background-color: #227aff;
  border-radius: 10px;
  margin-bottom: 1em;
}
.news-status {
  color: #0f6cbf;
  font-size: 1.2em;
  font-weight: 500;
}
.news-status-fetching {
  color: #00ff00;
}

.news-item a {
  color: #ebf6f5;
  text-decoration: none;
  font-weight: 500;
}
.more-news {
  display: flex;
  justify-content: end;
  color: #ebf6f5;

  font-weight: 500;
  cursor: pointer;
}
.more-options-container {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: flex-end;
  font-size: 1.2em;
}
.more-options {
  color: #ebf6f5;
  background-color: #227aff;
  padding: 0.48em;
  border-radius: 5px;
  cursor: pointer;
}

.refresh-icon {
  cursor: pointer;
}

.refresh-icon.loading svg {
  animation: spin 2s linear infinite;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

.theme-option {
  display: flex;
  align-items: center;
}

.theme-option:hover {
  background-color: #ddd;
  cursor: pointer;
}
.fetch-news-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-direction: row;
  span {
    font-size: 1.2em;
    font-weight: 500;
  }
}
