@tailwind base;
@tailwind components;
@tailwind utilities;

.upcoming-section {
  @apply block bg-[#f8f9fa] mb-4 border border-solid border-sectionBorder rounded p-4 ;
}

.deadline-tile {
  @apply flex flex-col justify-center w-[100%] mb-2 p-4 border-2 border-gray-300 rounded-lg;
  @apply hover:bg-gray-300;
  @apply cursor-pointer;
}

.upcoming {
  @apply bg-[#0f6cbf];
  @apply opacity-5;
}

.button {
  @apply text-sm;
  @apply bg-[#0f6cbf];
  @apply text-white;
  @apply p-2;
  @apply rounded-lg;
  @apply cursor-pointer;
}
.button-danger {
  @apply text-sm;
  @apply bg-red-500;
  @apply text-white;
  @apply p-2;
  @apply rounded-lg;
  @apply cursor-pointer;
}

.summary {
  @apply flex items-center;
}

.summary::-webkit-details-marker {
  display: none;
}

.summary::before {
  content: '▶';
  margin-right: 5px;
  transition: transform 0.3s ease-in-out;
}

.details[open] .summary::before {
  transform: rotate(90deg);
}

.clicked {
  @apply bg-gray-300 border-2 border-gray-300 rounded-full;
}